<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="css/style.css">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

  </head>
    </head>
    <body>
          <div class="container">
            <div class ="row">
              <header class="bgimage">
                <div class="panel panel-default col-xs-3 col-xs-offset-1 offset_top">
                  <div >
                    <h1 class="">Pocket Juke<h1>
                  </div>
                  <div class="panel-body">
                    Your personal DJ
                  </div>
                </div>
              </header>
            </div>
              <div class ="row">
                  <h1>Welcome to the Join a Party Page</h1>
              </div>
              <div class="row">
                <div class="panel panel-default">
                    <!-- Default panel contents -->
                      <div class="panel-heading">Select a Party from Below</div>

                        <!-- Table -->
                      <table class="table">
                        <tr>
                            <th>Party Name</th>

                            <th>Attending</th>
                            <th>Join</th>

                        </tr>
                        {% for party in party_list%}
                        <tr>
                            <td>{{party.party_name}}</td>

                            <td>{{party.attending}}</td>
                            <td><form action="/join" method="post">
                                <button type ="submit" class="btn btn-default">Join</button>
                                <input type = "hidden" name = "party_id" value = "{{party.key.urlsafe()}}" >
                                </form>
                            </td>

                        </tr>
                        {% endfor%}

                      </table>
              </div>


              </div>




          </div>
    </body>
</html>
