<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="css/style.css">
    <!-- Latest compiled and minified JavaScript -->
    <!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>-->
     <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>

  </head>
    </head>
    <body>
      <div class="container">
        <div class ="row">
          <header class="bgimage">
            <div class="panel panel-default col-xs-3 col-xs-offset-1 offset_top">
              <div >
                <h1 class="">Pocket Juke<h1>
              </div>
              <div class="panel-body">
                <div class="container">
                  <div class="row">
                    <div id="greeting" class="col-xs-2">
                        Your personal DJ
                      </div>
                      <div class="col-xs-1">
                          <a href ="{{ logout_url|safe }}">Logout</a>
                      </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="panel panel-default col-xs-3 col-xs-offset-2 offset_top">
              <div class="panel-body">
                <form action="/party?vote=leave" method="post">
                    <button type="submit" class="btn btn-default">Leave Party</button>
                </form>
              </div>
            </div>
          </header>
        </div>
        <div class="container">
            <div class="row">
              <h1>Welcom to the Party : {{party_name}}</h1>

            </div>
            <div class="container">
              <div class="col-sm-6">
                <div class="row">
                  <div class="row">
                    <form id="song_search"onsubmit="return false; "class="form-inline">
                      <div class="form-group">
                        <button id="butt" type="submit" class="btn btn-default">Submit Song</button>
                      </div>
                      <div class="form-group">
                        <input id="query" type="text" name="song_name"class="form-control" placeholder="Name of a song">
                      </div>
                  </div>
                </div>
                <div class="row dont_show" id = "results"><!--Search results -->
                    <p>Dummy Value</p>

                </div>
            </div>
            <div class="col-sm-6"> <!--Song queue -->
              <table class="table">
                  <tr>

                      <th>Name</th>
                      <th>date</th>
                      <th>Vote</th>
                  </tr>
                  {% for songs in queue %}
                  <tr>
                      <td>{{songs['song_name']}}</td>
                      <td>{{songs['date']}}</td>
                      <td><form action="/party?vote=true" method="post">
                          <button type="submit" class="btn btn-default">Vote</button>
                          <input type="hidden" name="song_id" value="{{songs.song_id}}">
                          </form>

                      </td>

                  </tr>
                  {% endfor %}
              </table>
            </div>
          </div>
        </div>
    </div>

          <!--script for my use -->
        <script async src="js/base.js"></script>
    </body>


</html>
